*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: brown;
}

#box1{
  background-color: bisque;
  height: 150px;
  width: 150px;
  margin-top: 20px;
  margin-left: 95px;
}
#box2{
  background-color: aquamarine;
  height: 250px;
  border-radius: 100px;
  margin-top: 50px;

}